.body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    /*background-color: #e6eeff;*/
    height: 750px;
}
.input {
    background-color:white;
}
.logRegister {
    position: absolute;
    text-align: center;
    padding-top: 20px;
    margin: 50px 40%;
    background-color: #2386c8;
    box-shadow: 0 0 50px #0099ff;
    border-radius: 20px;


}

.logRegisterBox {
    display: flex;
    justify-content: center;
    width: 300px;
}

.clickBox {
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #e6eeff;
    border-radius: 5px;
}

.clickBox:hover {
    background-color: #96a9e2;
    border-radius: 0;
}

.boxText {
    color: #000000;
}



.loginBox {
    border-radius: 15px;
    padding: 10px;
    background-color: #2386c8;
    margin: 20px;
}

.loginBox:hover {
    background-color: #ff0000;

}
